# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\OSPanel\domains\Marina\JavaScript\Продвинутый JS\ahj-homeworks\ahj-homeworks-sse-ws\Chat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
